{# templates/payment_page.html #} {% extends "common_layout.html" %} {% block
content %}

<html>
  <head>
    <script type="module" src="https://uat1.billdesk.com/merchant-uat/sdk/dist/billdesksdk/billdesksdk.esm.js"></script>
      <script nomodule="" src="https://uat1.billdesk.com/merchant-uat/sdk/dist/billdesksdk.js"></script>
      <link href="https://uat1.billdesk.com/merchant-uat/sdk/dist/billdesksdk/billdesksdk.css" rel="stylesheet">
  </head>
  
  <article class="card" style="overflow-y: scroll">
    <div class="container">
      <div class="card-title">
        <!-- <h2>Payment</h2> -->
      </div>
        <div class="card-body">
          <div class="payment-type">
            <h1>Payment : Rs. 450</h1>
          </div>
          <br> <br>
          <button class="button button-primary" onclick="launchBillDeskSDK()">Pay Now</button>
        </div>
    </div>
  </article>

  <!-- save to db logic -->
  <!-- <script>
    const form = document.querySelector("form");
      // let upiID = document.getElementById("upi_id").value;
      let upiID = "tarun@ybl"
      // replace spaces with ""
      upiID = upiID.replace(/\s/g, "");

      const booking = JSON.parse(localStorage.getItem("booking"));
      console.log("Form submission initiated")
      console.log(booking)
      booking["upi_id"] = upiID;

      // create a new input element
      const input = document.createElement("input");
      // set its type
      input.type = "hidden";
      // set its name
      input.name = "booking";
      // set its value
      input.value = JSON.stringify(booking);
      // append it to the form
      form.appendChild(input);

      // form.submit();
      if (upiID == "") {
        alert("Please fill the UPI ID field");
      } else {
        localStorage.clear();
        form.submit();
      }
  </script> -->

  <script>
    function launchBillDeskSDK() {
        console.log("Launching Billdesk")
        let flow_config = JSON.parse('{{ flow_config|tojson|safe }}');
        console.log(`bdOrderId: ${flow_config.bdOrderId}`)
        console.log(`flow config : ${flow_config}`)

        var responseHandler = function (txn) {
            console.log("callback received status:: ", txn.status);
            console.log("callback received response:: ", txn.response);
        };

        var config = {
            responseHandler: responseHandler,
            flowType: "payments",
            flowConfig : flow_config,
            bdOrderId: flow_config.bdOrderId,
            authToken: flow_config.authToken,
            childWindow: false,
            // returnUrl: "http://www.demo.com/api/pgresponse",
            retryCount: 3
        };

        // BillDeskSDK.init(config);
        window.loadBillDeskSdk(config)
    }
</script>
</html>


{% endblock content %}
